/**
 * TABLE OF CONTENTS:
 *
 *  0. GLOBAL
 *  1. HELPERS
 *  2. PROFILE
 *  3. PROJECTS
 *  4. FOOTER
 *  5. RESPONSIVE
 *    - 5.1. LARGE DEVICES, WIDE SCREENS
 *    - 5.2. MEDIUM DEVICES, DESKTOPS
 *    - 5.3. SMALL DEVICES, TABLETS LANDSCAPE
 *    - 5.4. SMALL DEVICES, TABLETS PORTRAIT
 *    - 5.5. EXTRA SMALL DEVICES, PHONES
 *    - 5.6. CUSTOM, IPHONE RETINA
 */

/* ==========================================================================
   0. GLOBAL
   ========================================================================== */

 * {
     border: 1px Solid blue !important;
 }

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
 }
 img .center {
   display:block
   margin: 0 auto;
 }
 /* ==========================================================================
    2. PROFILE
    ========================================================================== */

 .profile {
   margin-top: 10px;
   text-align: right;
   text-transform: uppercase;
 }

 .profile-name {
   margin: 0;
   font-size: 4.286em;
 }

 .profile-job {
   margin: 5px;
   font-size: 1.429em;
 }

 /* ==========================================================================
    3. PROJECTS
    ========================================================================== */

 .project-featured {
   color: gray;
 }

 .project {
   text-align: center;
 }

 .project-title {
   color: black;
   letter-spacing: 1px;
   text-transform: uppercase;
 }

 .project-link {
   font-size: 1.143em;
   color: #666756;
 }

 /* ==========================================================================
    5. RESPONSIVE
    ========================================================================== */

 /* 5.1 LARGE DEVICES, WIDE SCREENS
    ========================================================================== */

 /*@media only screen and (max-width: 1200px) {}*/

 /* 5.2 MEDIUM DEVICES, DESKTOPS
    ========================================================================== */

 @media screen and (max-width: 992px) {
   .profile {
     text-align: center;
   }

   .profile-logo {
     display: block;
     margin-right: auto;
     margin-left: auto;

   }

 }

 /* 5.3 SMALL DEVICES, TABLETS LANDSCAPE
    ========================================================================== */

 @media screen and (max-width: 768px) {
   .profile {
     text-align: center;
   }

   .profile-logo {
     display: block;
     margin-right: auto;
     margin-left: auto;

   }

 }

 /* 5.4 SMALL DEVICES, TABLETS PORTRAIT
    ========================================================================== */

 @media screen and (max-width: 600px) {
   .profile {
     text-align: center;
   }

   .profile-logo {
     display: block;
     margin-right: auto;
     margin-left: auto;

   }

   .profile-name {
     font-size: 2.857em;
   }
   .project-title {
     font-size:1.4em
   }
 }

 /* 5.5 EXTRA SMALL DEVICES, PHONES
    ========================================================================== */

 @media screen and (max-width: 480px) {
   .profile {
     text-align: center;
   }

   .profile-logo {
     display: block;
     margin-right: auto;
     margin-left: auto;
   }

   .profile-name {
     font-size: 2.857em;
   }
   .project-title {
     font-size:1.4em
   }
 }

 /* 5.6 CUSTOM, IPHONE RETINA
    ========================================================================== */

 @media screen and (max-width: 360px) {
   .profile {
     text-align: center;
   }

   .profile-logo {
     display: block;
     margin-right: auto;
     margin-left: auto;
   }

   .profile-name {
     font-size: 2.0em;

   }
   .profile-job {
     font-size:1.2em
   }


 }
